---
version: 1
interactions:
- request:
    body: '{"name":"Test Contact"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","name":"Test Contact","system":"Import
      API","created_at":"2023-08-15T13:02:46.928Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","email":"briwa@chartmogul.com","external_id":"ext_customer_1","name":"Test
      Contact"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/customers
    method: POST
  response:
    body: '{"id":116221577,"uuid":"cus_07fbf4a2-3b6c-11ee-b205-43eac2890149","external_id":"ext_customer_1","name":"Test
      Contact","email":"briwa@chartmogul.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","data_source_uuids":["ds_07deced6-3b6c-11ee-9414-d33207fe1180"],"external_ids":["ext_customer_1"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/116221577-Test_Contact","billing-system-type":"Import
      API","currency":"USD","currency-sign":"$","owner":null}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom":[{"key":"Facebook","value":"https://www.facebook.com/adam.smith"},{"key":"date_of_birth","value":"1985-01-22"}],"customer_uuid":"cus_07fbf4a2-3b6c-11ee-b205-43eac2890149","data_source_uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","first_name":"Adam","last_name":"Smith","linked_in":"https://linkedin.com/linkedin","notes":"Heading\nBody\nFooter","phone":"+1234567890","position":1,"title":"CEO","twitter":"https://twitter.com/twitter"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts
    method: POST
  response:
    body: '{"uuid":"con_082b6430-3b6c-11ee-b206-cb3f20d4e921","customer_uuid":"cus_07fbf4a2-3b6c-11ee-b205-43eac2890149","customer_external_id":"ext_customer_1","data_source_uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts?data_source_uuid=ds_07deced6-3b6c-11ee-9414-d33207fe1180&per_page=10
    method: GET
  response:
    body: '{"entries":[{"uuid":"con_082b6430-3b6c-11ee-b206-cb3f20d4e921","customer_uuid":"cus_07fbf4a2-3b6c-11ee-b205-43eac2890149","customer_external_id":"ext_customer_1","data_source_uuid":"ds_07deced6-3b6c-11ee-9414-d33207fe1180","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}],"cursor":"MjAyMy0wOC0xNVQxMzowMjo0Ny40NDgzNjkwMDBaJmNvbl8wODJiNjQzMC0zYjZjLTExZWUtYjIwNi1jYjNmMjBkNGU5MjE=","has_more":false}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_07deced6-3b6c-11ee-9414-d33207fe1180
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
