---
version: 1
interactions:
- request:
    body: '{"name":"Test Contact"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","name":"Test Contact","system":"Import
      API","created_at":"2023-04-11T08:08:01.321Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","email":"briwa@chartmogul.com","external_id":"ext_customer_1","name":"Test
      Contact"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/customers
    method: POST
  response:
    body: '{"id":105607064,"uuid":"cus_fa9a0b80-d83f-11ed-a8ca-23178a69439b","external_id":"ext_customer_1","name":"Test
      Contact","email":"briwa@chartmogul.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","data_source_uuids":["ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb"],"external_ids":["ext_customer_1"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/105607064-Test_Contact","billing-system-type":"Import
      API","currency":"USD","currency-sign":"$","owner":null}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom":[{"key":"Facebook","value":"https://www.facebook.com/adam.smith"},{"key":"date_of_birth","value":"1985-01-22"}],"customer_uuid":"cus_fa9a0b80-d83f-11ed-a8ca-23178a69439b","data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","first_name":"Adam","last_name":"Smith","linked_in":"https://linkedin.com/linkedin","notes":"Heading\nBody\nFooter","phone":"+1234567890","position":1,"title":"CEO","twitter":"https://twitter.com/twitter"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts
    method: POST
  response:
    body: '{"uuid":"con_fad81fe2-d83f-11ed-99e7-8f0caa61e9af","customer_uuid":"cus_fa9a0b80-d83f-11ed-a8ca-23178a69439b","customer_external_id":"ext_customer_1","data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_fad81fe2-d83f-11ed-99e7-8f0caa61e9af
    method: GET
  response:
    body: '{"uuid":"con_fad81fe2-d83f-11ed-99e7-8f0caa61e9af","customer_uuid":"cus_fa9a0b80-d83f-11ed-a8ca-23178a69439b","customer_external_id":"ext_customer_1","data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_fbabf560-d83f-11ed-99e8-8bd5f05ee9d8/merge/con_fad81fe2-d83f-11ed-99e7-8f0caa61e9af
    method: POST
  response:
    body: '{"uuid":"con_fbabf560-d83f-11ed-99e8-8bd5f05ee9d8","customer_uuid":null,"customer_external_id":"ext_customer_1","data_source_uuid":"ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb","position":1,"first_name":"Bill","last_name":"Thompson","title":"CTO","email":null,"phone":"+987654321","linked_in":"https://linkedin.com/bill-linkedin","twitter":"https://twitter.com/bill-twitter","notes":"New
      Heading\nNew Body\nNew Footer","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_fa60089a-d83f-11ed-a8c9-5fd5041b46cb
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
