---
version: 1
interactions:
- request:
    body: '{"name":"Test Contact"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","name":"Test Contact","system":"Import
      API","created_at":"2023-08-25T16:38:11.219Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","email":"briwa@chartmogul.com","external_id":"ext_customer_1","name":"Test
      Contact"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/customers
    method: POST
  response:
    body: '{"id":116798737,"uuid":"cus_c794d706-4365-11ee-982d-3fe33364220f","external_id":"ext_customer_1","name":"Test
      Contact","email":"briwa@chartmogul.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","data_source_uuids":["ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc"],"external_ids":["ext_customer_1"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/116798737-Test_Contact","billing-system-type":"Import
      API","currency":"USD","currency-sign":"$","owner":null}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom":[{"key":"Facebook","value":"https://www.facebook.com/adam.smith"},{"key":"date_of_birth","value":"1985-01-22"}],"customer_uuid":"cus_c794d706-4365-11ee-982d-3fe33364220f","data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","first_name":"Adam","last_name":"Smith","linked_in":"https://linkedin.com/linkedin","notes":"Heading\nBody\nFooter","phone":"+1234567890","position":1,"title":"CEO","twitter":"https://twitter.com/twitter"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts
    method: POST
  response:
    body: '{"uuid":"con_c7b0a6c0-4365-11ee-b5b3-930750483478","customer_uuid":"cus_c794d706-4365-11ee-982d-3fe33364220f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts?data_source_uuid=ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc&per_page=10
    method: GET
  response:
    body: '{"entries":[{"uuid":"con_c7b0a6c0-4365-11ee-b5b3-930750483478","customer_uuid":"cus_c794d706-4365-11ee-982d-3fe33364220f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}],"cursor":"MjAyMy0wOC0yNVQxNjozODoxMS41OTA0MDAwMDBaJmNvbl9jN2IwYTZjMC00MzY1LTExZWUtYjViMy05MzA3NTA0ODM0Nzg=","has_more":false}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_c7b0a6c0-4365-11ee-b5b3-930750483478
    method: GET
  response:
    body: '{"uuid":"con_c7b0a6c0-4365-11ee-b5b3-930750483478","customer_uuid":"cus_c794d706-4365-11ee-982d-3fe33364220f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_c81ad4a0-4365-11ee-982e-b3efd7febecd/merge/con_c7b0a6c0-4365-11ee-b5b3-930750483478
    method: POST
  response:
    body: '{"uuid":"con_c81ad4a0-4365-11ee-982e-b3efd7febecd","customer_uuid":null,"customer_external_id":"ext_customer_1","data_source_uuid":"ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc","position":1,"first_name":"Bill","last_name":"Thompson","title":"CTO","email":null,"phone":"+987654321","linked_in":"https://linkedin.com/bill-linkedin","twitter":"https://twitter.com/bill-twitter","notes":"New
      Heading\nNew Body\nNew Footer","custom":{}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_c77a917a-4365-11ee-b5b2-d70fdeb0aabc
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
