---
version: 1
interactions:
- request:
    body: '{"name":"Test Contact"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","name":"Test Contact","system":"Import
      API","created_at":"2023-04-19T08:47:12.876Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","email":"briwa@chartmogul.com","external_id":"ext_customer_1","name":"Test
      Contact"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/customers
    method: POST
  response:
    body: '{"id":106117654,"uuid":"cus_c7a419dc-de8e-11ed-a64e-d7a670c93c6f","external_id":"ext_customer_1","name":"Test
      Contact","email":"briwa@chartmogul.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","data_source_uuids":["ds_c7509668-de8e-11ed-af29-77a7072d7169"],"external_ids":["ext_customer_1"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/106117654-Test_Contact","billing-system-type":"Import
      API","currency":"USD","currency-sign":"$","owner":null}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"custom":[{"key":"Facebook","value":"https://www.facebook.com/adam.smith"},{"key":"date_of_birth","value":"1985-01-22"}],"customer_uuid":"cus_c7a419dc-de8e-11ed-a64e-d7a670c93c6f","data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","first_name":"Adam","last_name":"Smith","linked_in":"https://linkedin.com/linkedin","notes":"Heading\nBody\nFooter","phone":"+1234567890","position":1,"title":"CEO","twitter":"https://twitter.com/twitter"}'
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts
    method: POST
  response:
    body: '{"uuid":"con_c7e4da94-de8e-11ed-a64f-3fa14009c560","customer_uuid":"cus_c7a419dc-de8e-11ed-a64e-d7a670c93c6f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{"Facebook":"https://www.facebook.com/adam.smith","date_of_birth":"1985-01-22"}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts?data_source_uuid=ds_c7509668-de8e-11ed-af29-77a7072d7169&per_page=10
    method: GET
  response:
    body: '{"entries":[{"uuid":"con_c7e4da94-de8e-11ed-a64f-3fa14009c560","customer_uuid":"cus_c7a419dc-de8e-11ed-a64e-d7a670c93c6f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{"Facebook":"https://www.facebook.com/adam.smith","date_of_birth":"1985-01-22"}}],"cursor":"MjAyMy0wNC0xOVQwODo0NzoxMy44NjAzNjQwMDBaJmNvbl9jN2U0ZGE5NC1kZThlLTExZWQtYTY0Zi0zZmExNDAwOWM1NjA=","has_more":false}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_c7e4da94-de8e-11ed-a64f-3fa14009c560
    method: GET
  response:
    body: '{"uuid":"con_c7e4da94-de8e-11ed-a64f-3fa14009c560","customer_uuid":"cus_c7a419dc-de8e-11ed-a64e-d7a670c93c6f","customer_external_id":"ext_customer_1","data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","position":1,"first_name":"Adam","last_name":"Smith","title":"CEO","email":null,"phone":"+1234567890","linked_in":"https://linkedin.com/linkedin","twitter":"https://twitter.com/twitter","notes":"Heading\nBody\nFooter","custom":{"Facebook":"https://www.facebook.com/adam.smith","date_of_birth":"1985-01-22"}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/contacts/con_c9004ba2-de8e-11ed-b9fa-4b8d71ded4b1/merge/con_c7e4da94-de8e-11ed-a64f-3fa14009c560
    method: POST
  response:
    body: '{"uuid":"con_c9004ba2-de8e-11ed-b9fa-4b8d71ded4b1","customer_uuid":null,"customer_external_id":"ext_customer_1","data_source_uuid":"ds_c7509668-de8e-11ed-af29-77a7072d7169","position":1,"first_name":"Bill","last_name":"Thompson","title":"CTO","email":null,"phone":"+987654321","linked_in":"https://linkedin.com/bill-linkedin","twitter":"https://twitter.com/bill-twitter","notes":"New
      Heading\nNew Body\nNew Footer","custom":{"Facebook":"https://www.facebook.com/bill.thompson","date_of_birth":"1990-01-01"}}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic secret
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_c7509668-de8e-11ed-af29-77a7072d7169
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
