---
version: 1
interactions:
- request:
    body: '{"name":"Test Create Invoice"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_0a5d21f8-3c52-11ee-8430-b32b473f9400","name":"Test Create Invoice","system":"Import
      API","created_at":"2023-08-16T16:29:15.362Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_0a5d21f8-3c52-11ee-8430-b32b473f9400","external_id":"ext_plan","interval_count":1,"interval_unit":"month","name":"test
      plan"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans
    method: POST
  response:
    body: '{"external_id":"ext_plan","name":"test plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_0a5d21f8-3c52-11ee-8430-b32b473f9400","uuid":"pl_0a84d194-3c52-11ee-a9c4-73edac922fb7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32ba792115b2da9987403066de3b52a7"
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"My plan group","plans":["pl_0a84d194-3c52-11ee-a9c4-73edac922fb7"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plan_groups
    method: POST
  response:
    body: '{"name":"My plan group","uuid":"plg_2b0acfd9-ef53-45a9-8dab-49b5d713e6e5","plans_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac6da7a3cf766801fa981a6e2154dda5"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plan_groups/plg_2b0acfd9-ef53-45a9-8dab-49b5d713e6e5
    method: GET
  response:
    body: '{"name":"My plan group","uuid":"plg_2b0acfd9-ef53-45a9-8dab-49b5d713e6e5","plans_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac6da7a3cf766801fa981a6e2154dda5"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plan_groups/plg_2b0acfd9-ef53-45a9-8dab-49b5d713e6e5/plans?per_page=200
    method: GET
  response:
    body: '{"plans":[{"name":"test plan","uuid":"pl_0a84d194-3c52-11ee-a9c4-73edac922fb7","data_source_uuid":"ds_0a5d21f8-3c52-11ee-8430-b32b473f9400","interval_count":1,"interval_unit":"month","external_id":"ext_plan"}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOC0xNlQxNjoyOToxNS42NDk4NTEwMDBaJjk1NDk1Nw==","has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a39eb4c0e8111eb150eb1d38c1cea6c3"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plan_groups?per_page=200
    method: GET
  response:
    body: '{"plan_groups":[{"name":"My plan group","uuid":"plg_2b0acfd9-ef53-45a9-8dab-49b5d713e6e5","plans_count":1}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOC0xNlQxNjoyOToxNS43NTg5MjUwMDBaJjIwNTkx","has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b89558fceff67eaf3d66c5e588483dfe"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_0a5d21f8-3c52-11ee-8430-b32b473f9400
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
