---
version: 1
interactions:
- request:
    body: '{"name":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_c90cb72e-3c54-11ee-9297-ef372100a8ed","name":"testing","system":"Import
      API","created_at":"2023-08-16T16:48:54.271Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_c90cb72e-3c54-11ee-9297-ef372100a8ed","external_id":"ext_plan","interval_count":1,"interval_unit":"month","name":"test
      plan"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans
    method: POST
  response:
    body: '{"external_id":"ext_plan","name":"test plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_c90cb72e-3c54-11ee-9297-ef372100a8ed","uuid":"pl_c92869ec-3c54-11ee-9275-73c5d5e48dff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0bfe31fa58db62ba0490fd252b1b3af"
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_c90cb72e-3c54-11ee-9297-ef372100a8ed","email":"petr@chartmogul.com","external_id":"ext_customer","name":"Test
      Delete Invoice"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/customers
    method: POST
  response:
    body: '{"id":116273266,"uuid":"cus_c947e006-3c54-11ee-9298-fbab75204dd9","external_id":"ext_customer","name":"Test
      Delete Invoice","email":"petr@chartmogul.com","status":"New Lead","customer-since":null,"attributes":{"custom":{},"clearbit":{},"stripe":{},"tags":[]},"data_source_uuid":"ds_c90cb72e-3c54-11ee-9297-ef372100a8ed","data_source_uuids":["ds_c90cb72e-3c54-11ee-9297-ef372100a8ed"],"external_ids":["ext_customer"],"company":"","country":null,"state":null,"city":"","zip":null,"lead_created_at":null,"free_trial_started_at":null,"address":{"country":null,"state":null,"city":"","address_zip":null},"mrr":0,"arr":0,"billing-system-url":null,"chartmogul-url":"https://app.chartmogul.com/#/customers/116273266-Test_Delete_Invoice","billing-system-type":"Import
      API","currency":"USD","currency-sign":"$","owner":null}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"invoices":[{"currency":"EUR","date":"2023-08-16T17:48:54+01:00","external_id":"INV_to_be_retrieved","line_items":[{"amount_in_cents":4500,"description":"fake_item","quantity":2,"type":"one_time"},{"amount_in_cents":10000,"external_id":"ext_line_item","plan_uuid":"pl_c92869ec-3c54-11ee-9275-73c5d5e48dff","quantity":10,"service_period_end":"2017-05-31T00:00:00.000Z","service_period_start":"2017-05-01T00:00:00.000Z","subscription_external_id":"ext_subscription","subscription_set_external_id":"ext_subscription_set","type":"subscription"}],"transactions":[{"date":"2023-08-16T20:48:54+01:00","result":"successful","type":"payment"}]},{"currency":"EUR","date":"2023-08-16T17:48:54+01:00","external_id":"INV_to_be_retrieved1","line_items":[{"amount_in_cents":4200,"description":"fake_item1","quantity":2,"type":"one_time"},{"amount_in_cents":11000,"external_id":"ext_line_item1","plan_uuid":"pl_c92869ec-3c54-11ee-9275-73c5d5e48dff","quantity":11,"service_period_end":"2017-05-31T00:00:00.000Z","service_period_start":"2017-05-01T00:00:00.000Z","subscription_external_id":"ext_subscription1","subscription_set_external_id":"ext_subscription_set1","type":"subscription"}],"transactions":[{"date":"2023-08-16T20:48:54+01:00","result":"successful","type":"payment"}]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/import/customers/cus_c947e006-3c54-11ee-9298-fbab75204dd9/invoices
    method: POST
  response:
    body: '{"invoices":[{"uuid":"inv_959d8be4-2425-488d-99f4-36a5c7c70669","date":"2023-08-16T16:48:54.000Z","due_date":null,"errors":{},"external_id":"INV_to_be_retrieved","currency":"EUR","line_items":[{"uuid":"li_d1674f45-630a-4851-8131-06815093d338","external_id":null,"type":"one_time","description":"fake_item","amount_in_cents":4500,"quantity":2,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0,"transaction_fees_in_cents":0,"account_code":"","transaction_fees_currency":null,"discount_description":null,"event_order":null},{"uuid":"li_020c3744-f4df-4926-849f-73b2c63f0691","external_id":"ext_line_item","type":"subscription","subscription_uuid":"sub_cc119a18-b515-4633-9e60-c1c72a484499","subscription_external_id":"ext_subscription","prorated":false,"proration_type":null,"service_period_start":"2017-05-01T00:00:00.000Z","service_period_end":"2017-05-31T00:00:00.000Z","subscription_set_external_id":"ext_subscription_set","plan_uuid":"pl_c92869ec-3c54-11ee-9275-73c5d5e48dff","amount_in_cents":10000,"quantity":10,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0,"transaction_fees_in_cents":0,"account_code":"","transaction_fees_currency":null,"discount_description":null,"event_order":null}],"transactions":[{"uuid":"tr_4d104edc-d690-4edd-b8[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/import/customers/cus_c947e006-3c54-11ee-9298-fbab75204dd9/invoices?per_page=1
    method: GET
  response:
    body: '{"customer_uuid":"cus_c947e006-3c54-11ee-9298-fbab75204dd9","invoices":[{"uuid":"inv_959d8be4-2425-488d-99f4-36a5c7c70669","date":"2023-08-16T16:48:54.000Z","due_date":null,"errors":{},"external_id":"INV_to_be_retrieved","currency":"EUR","line_items":[{"uuid":"li_d1674f45-630a-4851-8131-06815093d338","external_id":null,"type":"one_time","description":"fake_item","amount_in_cents":4500,"quantity":2,"discount_code":"","discount_amount_in_cents":0,"tax_amount_in_cents":0,"transaction_fees_in_cents":0,"account_code"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_c90cb72e-3c54-11ee-9297-ef372100a8ed
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
