---
version: 1
interactions:
- request:
    body: '{"name":"1"}'
    form: {}
    headers:
      Authorization:
      Basic hidden= 
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb","name":"1","system":"Import
      API","created_at":"2023-08-14T23:30:57.309Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb","external_id":"plan_0001","interval_count":1,"interval_unit":"month","name":"Bronze
      Plan"}'
    form: {}
    headers:
      Authorization:
      Basic hidden= 
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans
    method: POST
  response:
    body: '{"external_id":"plan_0001","name":"Bronze Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb","uuid":"pl_9eccd224-3afa-11ee-b63e-1fec6a2e60bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ccd5c65214225cc211327526860371ab"
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      Basic hidden= 
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans?data_source_uuid=ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb
    method: GET
  response:
    body: '{"plans":[{"external_id":"plan_0001","name":"Bronze Plan","interval_count":1,"uuid":"pl_9eccd224-3afa-11ee-b63e-1fec6a2e60bf","interval_unit":"month","data_source_uuid":"ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb"}],"current_page":1,"total_pages":1,"cursor":"MjAyMy0wOC0xNFQyMzozMDo1Ny41NDkyMjQwMDBaJjk1NDU0Mg==","has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bcdc34745d007e23cb82a44248f029e"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      Basic hidden= 
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_9eace20c-3afa-11ee-8dda-1bb1c384dcfb
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
