---
version: 1
interactions:
- request:
    body: '{"name":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a","name":"testing","system":"Import
      API","created_at":"2023-08-16T16:06:06.171Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"data_source_uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a","external_id":"plan_0001","interval_count":1,"interval_unit":"month","name":"Bronze
      Plan"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans
    method: POST
  response:
    body: '{"external_id":"plan_0001","name":"Bronze Plan","interval_count":1,"interval_unit":"month","data_source_uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a","uuid":"pl_ce77713c-3c4e-11ee-b767-0f0a575ca7d1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b466677c2580c99c2c750384dddf2ce"
      Retry-Count:
      - "0"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans?data_source_uuid=ds_ce594e00-3c4e-11ee-b766-73e0b574063a&per_page=2
    method: GET
  response:
    body: '{"plans":[{"external_id":"plan_0002","name":"Chocolate Plan","interval_count":1,"uuid":"pl_ce8bcd26-3c4e-11ee-ab2a-d35507076629","interval_unit":"day","data_source_uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a"},{"external_id":"plan_0001","name":"Bronze
      Plan","interval_count":1,"uuid":"pl_ce77713c-3c4e-11ee-b767-0f0a575ca7d1","interval_unit":"month","data_source_uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a"}],"current_page":1,"total_pages":2,"cursor":"MjAyMy0wOC0xNlQxNjowNjowNi41NDE1MTEwMDBaJjk1NDk1MQ==","has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77f5da5008013795b5c1fc701011829f"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/plans/pl_ce8bcd26-3c4e-11ee-ab2a-d35507076629
    method: GET
  response:
    body: '{"external_id":"plan_0002","name":"Chocolate Plan","interval_count":1,"interval_unit":"day","data_source_uuid":"ds_ce594e00-3c4e-11ee-b766-73e0b574063a","uuid":"pl_ce8bcd26-3c4e-11ee-ab2a-d35507076629"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52db91c9ad9e5e0fe4bd780cc48583af"
      Retry-Count:
      - "0"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_ce594e00-3c4e-11ee-b766-73e0b574063a
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
    status: 204 No Content
    code: 204
    duration: ""
