---
version: 1
interactions:
- request:
    body: '{"name":"Testing CSV batch upload file"}'
    form: {}
    headers:
      Authorization:
      - Basic NWQ0OTBmM2Q4YmYxNjFiZGM5MTRmZmY2NzA4YmRjNmI6Y2IyNmI1OWRhZTUyM2QwZDYyYWRmYzE0M2YyNDg2NmU=
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources
    method: POST
  response:
    body: '{"uuid":"ds_f47e4be2-f7a7-11ea-9f8b-cb4c4307dc54","name":"Testing CSV batch
      upload file","system":"Import API","created_at":"2020-09-15T23:05:32.150Z","status":"idle"}'
    headers:
      Content-Type:
      - application/json
      Retry-Count:
      - "0"
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: "--7d5b529e1ad65a3e1227f63a4240fa44387ced667e42c7c9f95b957d5382\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"invoices.csv\"\r\nContent-Type: application/octet-stream\r\n\r\nCustomer
      external ID,Invoice external ID,Invoiced date,Due date,Currency\nI-TVNB6F1J8NA6,7G969786RL3461740-Com1597326157,2020-08-13
      13:42:37 UTC,,USD\nI-TVNB6F1J8NA6,0RT13055MV0037839-Com1597613377,2020-08-16
      21:29:37 UTC,,USD\nI-TVNB6F1J8NA6,2L614316VL183161C-Com15[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic NWQ0OTBmM2Q4YmYxNjFiZGM5MTRmZmY2NzA4YmRjNmI6Y2IyNmI1OWRhZTUyM2QwZDYyYWRmYzE0M2YyNDg2NmU=
      Content-Type:
      - application/json
    url: https://api.chartmogul.com/v1/data_sources/ds_f47e4be2-f7a7-11ea-9f8b-cb4c4307dc54
    method: DELETE
  response:
    body: ""
    headers:
      Retry-Count:
      - "0"
      Status:
      - 204 No Content
    status: 204 No Content
    code: 204
    duration: ""
